<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<button (click)="isDanger = !isDanger">Toggle Danger</button>

<button (click)="isWarning = !isWarning">Toggle Warning</button>

<!-- <div
  class="box"
  [class.red-border]="isDanger"
  [class.yellow-background]="isWarning"
></div> -->

<!-- [class.tên-class]
     [class] = "array" 
     [class] = "object" {[tên-class: string | boolean]} 
     [class] = "variable"-->

<!-- <div
  class="box"
  [class]="{ 'red-border': isDanger, 'yellow-background': isWarning }"
></div> -->

<div [class]="classes"></div>
